@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');

body{
  margin:0;
  font-family:'Vazirmatn',Tahoma,sans-serif;
  background:#f3f4f6;
  color:#333;
}

header{
  background:linear-gradient(120deg,#06b6d4,#4f46e5);
  color:white;
  padding:50px 20px;
  text-align:center;
}

section{
  max-width:1000px;
  margin:50px auto;
  padding:0 20px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  border-radius:14px;
  padding:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.btn{
  display:inline-block;
  background:#f59e0b;
  color:white;
  padding:8px 18px;
  border-radius:10px;
  text-decoration:none;
}

.btn:hover{
  background:#b45309;
}

footer{
  background:#111827;
  color:#ccc;
  text-align:center;
  padding:20px;
}

input,textarea{
  width:100%;
  max-width:400px;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
  font-family:'Vazirmatn';
}

html{scroll-behavior:smooth;}

@media(max-width:768px){
  .cards{grid-template-columns:1fr;}
  header h1{font-size:26px;}
}
